<header class="header">
    <div class="welcome-content">
        <div class="welcome-message">
            <h2 class="title">Hello, Nome Cognome</h2>
            <h4 class="subtitle">Today is Thursday, 30 January 2025</h4>
        </div>
    </div>
   
    <div class="mood-content">
        <div class="mood-question-container">
            <div class="mood-question">
                Come ti senti oggi?
            </div>
            <div class="today-mood"></div>
        </div>
        <ul class="mood-list">
            <li class="mood mood-happy"></li>
            <li class="mood mood-fine"></li>
            <li class="mood mood-normal"></li>
            <li class="mood mood-sad"></li>
            <li class="mood mood-dispear"></li>
        </ul>
    </div>
</header>