/* ==================================================================================================================
 * ===== Settings Component - Styling for Medium-Large Screens ======================================================
 * ==================================================================================================================
*/
.settings-container {
    @apply  h-32 [grid-auto-rows:_auto];
}

/* ----- Settings: Contents ------------------------------------------------------------------------------------------ */
.info-container .info-content .info-box {
    @apply  w-full h-28 relative
            rounded-xl
            flex flex-col
            shadow-glass;
}

.info-box .title-container {
    @apply  py-2 px-3
            flex justify-between items-center;
}
.info-box .title-container .field-title { @apply text-base font-semibold; }

.info-box:has(.info-email) { @apply col-span-2; }

/* ----- Settings: Personal Info Input Fields ----------------------------------------------------------------------- */
.info-box .info-field {
    @apply  w-full h-full p-3 
            bg-transparent outline-none
            text-right font-bold text-2xl text-skin-base-light;
}
.info-box p.info-field { @apply flex justify-end items-end; }

.info-box .select-container { @apply relative; }
.info-box .info-field.info-select { @apply appearance-none; }
.info-box .select-container i { 
    @apply  opacity-0 p-2 
            absolute top-1/2 left-1 -translate-y-1/2
            pointer-events-none
}

.info-box .field-container { @apply mt-6 flex justify-end items-end space-x-1; }
.info-box .field-container .info-field { @apply p-0; }
.info-box .field-container .info-field:nth-child(2) { @apply pr-3 w-20; }

/* ----- Settings: Personal Info ------------------------------------------------------------------------------------ */
.settings-container .info-container.personal-info {
    @apply  col-span-4 row-span-2;
}

.info-container.personal-info .personal-infos {
    @apply  grid-flow-row grid-cols-2;
}

/* ----- Settings: Personal Info ------------------------------------------------------------------------------------ */
.settings-container .info-container.stats-info {
    @apply  col-span-2 row-span-3;
}

.info-container.stats-info .personal-infos {
    @apply  grid-flow-row grid-cols-1;
}

.stats-info .info-box .info-field:not(.info-select) { @apply text-4xl pb-2; }
.stats-info .info-box .info-field.info-measure { @apply text-xl; }


/* ----- Settings: Themes Panel ------------------------------------------------------------------------------------- */
.settings-container .info-container.themes-panel {
    @apply  col-span-4 row-span-2;
}

.info-container.themes-panel .info-content.color-container {
    @apply  grid-cols-5;
}

.color-container .color-block {
    @apply  w-full h-20 relative
            rounded-xl bg-gradient-to-br 
            shadow-glass
            after:block after:w-1/3 after:h-1/3
            after:absolute after:bottom-2 after:right-2
            after:rounded-xl after:rounded-tl-[3rem] after:bg-white/50
            after:pointer-events-none;
}

.color-block.color-blue { @apply from-blue-500/75 to-blue-800/75; }
.color-block.color-green { @apply from-green-500/75 to-green-800/75; }
.color-block.color-red { @apply from-red-500/75 to-red-800/75; }

/* ==================================================================================================================
 * ===== Settings Component - Styling for Small Screens =============================================================
 * ==================================================================================================================
*/
/* .settings-container .settings-content-container {
    @apply  max-md:flex-col;
}

.info-box .info-field {
    @apply max-md:text-xl;
} */

/* ----- Settings: Personal Info ------------------------------------------------------------------------------------ */
/* .info-container.personal-info .personal-infos {
    @apply max-md:grid-cols-2;
}
.info-container.personal-info .personal-infos .info-box:has(.info-birth-date) {
    @apply max-md:order-3;
}

.settings-container .settings-content-container .info-container.stats-info {
    @apply  max-md:w-full;
}

.stats-info .info-box .info-field.info-measure { @apply max-md:text-2xl; } */
