<div class="bg-background/60 backdrop-blur-sm rounded-lg shadow-lg p-3 sm:p-4 md:p-6 mb-3 sm:mb-4 border border-border">
    <h3 class="text-lg sm:text-xl font-semibold text-foreground mb-3 sm:mb-4">Filtra per Tag</h3>
    <div *ngFor="let categoryId of tagsByCategory | keyvalue" class="mb-4 sm:mb-6">
        <h4 class="text-base sm:text-lg font-medium text-foreground/80 mb-2 sm:mb-3">{{ getCategoryName(+categoryId.key) }}</h4>
        <div class="flex flex-wrap gap-1.5 sm:gap-2">
            <button *ngFor="let tag of categoryId.value"
                    (click)="toggleTag(tag.id)"
                    [class.shadow-md]="isTagSelected(tag.id)"
                    class="px-2 sm:px-3 py-0.5 sm:py-1 rounded-full text-xs sm:text-sm transition-all duration-200 ease-in-out"
                    [style.backgroundColor]="getTagBackgroundColor(tag)"
                    [style.color]="getTagTextColor(tag)"
                    [style.border]="getTagBorder(tag)">
                {{ tag.name }}
            </button>
        </div>
    </div>
    <div class="mt-4 sm:mt-6 flex justify-between">
        <button *ngIf="selectedTagIds.length > 0"
                (click)="clearAll()"
                class="text-xs sm:text-sm text-skin-accent-light hover:text-skin-accent-medium transition-colors">
            Cancella Tutto
        </button>
        <div *ngIf="selectedTagIds.length === 0" class="flex-grow"></div>
        <button (click)="openTagForm.emit()" class="text-xs sm:text-sm text-skin-accent-light hover:text-skin-accent-medium transition-colors">
            Aggiungi Nuovo Tag
        </button>
    </div>
</div>

