<div class="home-container flex flex-col justify-center items-center gap-6">
    <div class="row w-full h-1/2 flex flex-row justify-center items-center gap-6">
        <div class="w-full h-48 bg-green-500 bg-transparent  rounded-xl glass-panel"></div>
        <div class="w-full h-48 bg-green-500 bg-transparent  rounded-xl glass-panel"></div>
    </div>
    <div class="row w-full h-1/2 flex flex-row justify-center items-center gap-6">
        <div class="w-full h-48 bg-green-500 bg-transparent rounded-xl glass-panel col-span-2"></div>
    </div>

</div>
