<div class="grid-container sport-container">
    <div class="info-container exercise-stats">
        <div class="panel-title glass-top-title-bg">Muscle Groups</div>
        <ul class="info-content stats-list">
            <li class="stats back-stats">
                <p class="title">Back</p>
                <p class="value">6</p>
            </li>
            <li class="stats chest-stats">
                <p class="title">Chest</p>
                <p class="value">8</p>
            </li>
            <li class="stats shoulders-stats">
                <p class="title">Shoudlers</p>
                <p class="value">2</p>
            </li>
            <li class="stats legs-stats">                
                <p class="title">Legs</p>
                <p class="value">7</p>                
            </li>
            <li class="stats core-stats">                
                <p class="title">Core</p>
                <p class="value">2</p>                
            </li>
            <li class="stats arms-stats">                
                <p class="title">Arms</p>
                <p class="value">3</p>                
            </li>
        </ul>
    </div>
</div>

