<div class="grid-container nutrition-container">
    <div class="info-container nutrition-stats">
        <div class="panel-title glass-top-title-bg">Macronutrients</div>
        <ul class="info-content stats-list">
            <li class="stats calories calories-stats">
                <div class="chart-container">
                    <div class="bar-chart horizontal-bar-chart"></div>
                </div>
                <div class="values">
                    <p class="to-reach">3428 kcal</p>
                    <p class="reached">3143</p>
                </div>
            </li>
            <li class="stats proteins proteins-stats">
                <div class="bar-chart horizontal-bar-chart"></div>
                <div class="values">
                    <p class="to-reach">123 g</p>
                    <p class="reached">30</p>
                </div>
            </li>
            <li class="stats carbs carbs-stats">
                <div class="bar-chart horizontal-bar-chart"></div>
                <div class="values">
                    <p class="to-reach">123 g</p>
                    <p class="reached">30</p>
                </div>
            </li>
            <li class="stats fats fats-stats">
                <div class="bar-chart horizontal-bar-chart"></div>
                <div class="values">
                    <p class="to-reach">123 g</p>
                    <p class="reached">30</p>
                </div>
            </li>
            <li class="stats fibers fibers-stats">
                <div class="bar-chart horizontal-bar-chart"></div>
                <div class="values">
                    <p class="to-reach">123 g</p>
                    <p class="reached">30</p>
                </div>
            </li>
            <li class="legend-container">
                <div class="legend-box">
                    <div class="legend-icon proteins"></div>
                    <p class="legend-label">Proteins</p>
                </div>                                      
                <div class="legend-box">
                    <div class="legend-icon carbs"></div>
                    <p class="legend-label">Carbs</p>
                </div>                    
                <div class="legend-box">
                    <div class="legend-icon fats"></div>
                    <p class="legend-label">Fats</p>
                </div>
                <div class="legend-box">
                    <div class="legend-icon fibers"></div>
                    <p class="legend-label">Fibers</p>
                </div>  
            </li>
        </ul>
    </div>

    <div class="info-container meal-summary">
        <div class="panel-title glass-top-title-bg">Your Meals</div>
        <ul class="info-content meals-list">
            <li class="meal-box">
                <a class="meal-item">
                    <div>Breakfast</div>
                </a>
            </li>
            <li class="meal-box">
                <a class="meal-item">
                    <div>Lunch</div>
                </a>
            </li>
            <li class="meal-box">
                <a class="meal-item">
                    <div>Dinner</div>
                </a>
            </li>
            <li class="meal-box">
                <a class="meal-item">
                    <div>Break</div>
                </a>
            </li>
        </ul>

        <div class="info-content meal-description">
            <ul class="dish-list">
                <a class="new-dish-btn"><i class="bx bx-plus bx-md"></i></a>
                <li class="dish">
                    <span class="dish-name">Piatto 1</span>
                    <span class="dish-quantity">30 g</span>
                </li>
                <li class="dish">
                    <span class="dish-name">Piatto 2 Nome lungo</span>
                    <span class="dish-quantity">30 g</span>
                </li>
                <li class="dish">
                    <span class="dish-name">Piatto 3</span>
                    <span class="dish-quantity">300 g</span>
                </li>
                <li class="dish">
                    <span class="dish-name">Piatto 2 Nome ancora piu' lungo</span>
                    <span class="dish-quantity">30 g</span>
                </li>
                <li class="dish">
                    <span class="dish-name">Piatto 1</span>
                    <span class="dish-quantity">30 g</span>
                </li>
                <li class="dish">
                    <span class="dish-name">Piatto 2 Nome lungo</span>
                    <span class="dish-quantity">30 g</span>
                </li>
                <li class="dish">
                    <span class="dish-name">Piatto 3</span>
                    <span class="dish-quantity">300 g</span>
                </li>
                <li class="dish">
                    <span class="dish-name">Piatto 2 Nome ancora piu' lungo</span>
                    <span class="dish-quantity">30 g</span>
                </li>
            </ul>
        </div>

    </div>

    <div class="info-container dish-form">
        <div class="panel-title glass-top-title-bg">Add Your Dish</div>

        <div class="info-content form-container">
            <form>
                
            </form>
        </div>
    </div>
</div>
