<div #sidebar class="sidebar">
    <div class="toggle-btn-container">
        <div class="logo">W</div>
        <button #toggleSidebarButton class="toggle-btn">
            <i class="bx bx-chevrons-left bx-sm"></i>
        </button>
    </div>
    <div class="account-info-box">
        <a class="account-icon">{{ userInitials }}</a>
        <div class="account-text-info">
            <p class="user-name">{{ userFullName }}</p>
        </div>

    </div>
    <nav class="sidebar-nav">
        <ul class="sidebar-links">
            <li class="sidebar-link">
                <a routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link">
                    <i class="bx bxs-dashboard bx-sm"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="sidebar-link">
                <a routerLink="/dashboard/sport" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link">
                    <i class="bx bx-dumbbell bx-sm"></i>
                    <span>Sport</span>
                </a>
            </li>
            <li class="sidebar-link">
                <a routerLink="/dashboard/food" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link">
                    <i class="bx bx-fork bx-sm"></i>
                    <span>Food</span>
                </a>
            </li>
            <li class="sidebar-link">
                <button #dropDownButtonForSubMenu class="dropdown-btn">
                    <i class="bx bxs-edit bx-sm"></i>
                    <span>Journal</span>
                    <i class="bx bx-chevron-down bx-sm"></i>
                </button>
                <ul class="sub-menu">
                    <div class="sub-menu-container">
                        <li><a  routerLink="/dashboard/mood" class="link">Mood Tracker</a></li>
                        <li><a class="link">Daily</a></li>
                        <li><a class="link">Notes</a></li>
                    </div>
                </ul>
            </li>
            <li class="sidebar-link">
                <a routerLink="/dashboard/calendar" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link">
                    <i class="bx bxs-calendar bx-sm"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <div class="links-divider"></div>
          <li class="sidebar-link">
            <a class="link" (click)="toggleDarkMode()">
              <i class="bx" [ngClass]="isDarkMode ? 'bxs-moon' : 'bxs-sun'"></i>
              <span>{{ isDarkMode ? 'Light' : 'Dark' }} Theme</span>
            </a>
          </li>
            <li class="sidebar-link">
                <a routerLink="/dashboard/settings" class="link">
                    <i class="bx bxs-cog bx-sm"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li class="sidebar-link">
                <a class="link" (click)="doLogout()">
                    <i class="bx bxs-log-out bx-sm"></i>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

