<!-- <main class="main-container w-screen min-h-screen max-h-screen bg-gray-700
             flex">
    <aside class="w-96 h-screen bg-blue-950 p-5">

    </aside>
    <div class="dashboard-modules-content"></div>

</main> -->
<!--
    <aside class="w-96 h-screen bg-blue-950 p-5">
        <div class="w-full h-full rounded-2xl bg-blue-300">
            

        </div>
        
    </aside>
-->
    <!--
<div class="dashboard-container w-full h-screen max-h-screen bg-skin-lightest flex">
    <aside class="sidebar-container w-[23.5%] h-full p-3">
        <div class="sidebar w-full h-full py-3 rounded-2xl bg-skin-fill-lighter flex flex-col items-center space-y-12">
            <div class="logo-container hidden">
                <div class="w-10 h-10 rounded-lg bg-white font-bold text-2xl mix-blend-screen flex justify-center items-center">W</div>
            </div>
            <div class="user-info-box text-skin-base-light flex flex-col items-center space-y-2">
                <div class="user-image-container w-24 h-24 rounded-2xl overflow-hidden flex justify-center items-center">
                    <div class="w-full h-full bg-white"></div>
                </div>
                <div class="user-info text-center">
                    <h2 class="user-name font-bold text-2xl">Gary Miao</h2>
                    <h4 class="user-email text-sm ">garyMiao.at.gmail.com</h4>
                </div>            
            </div>

            <nav class="flex-1 flex flex-col justify-around">
                <ul class="sidebar-links flex flex-col items-start space-y-1">
                    @for (link of sideNavigationLinks; track $index) {
                        <li class="link text-skin-base-light">
                            <a [routerLink]="link.path" class="link-btn flex justify-center items-center space-x-2">
                                <i [class]="link.icon"></i>
                                <p class="link-label">{{ link.label }}</p>
                            </a>
                        </li>
                    }
                </ul>
                <ul class="sidebar-links  flex flex-col items-start space-y-1
                sidebar-last">
                    <li class="link text-skin-base-light">
                        <a routerLink="" class="link-btn flex justify-center items-center space-x-2">
                            <i class=""></i>
                            <p class="link-label">Settings</p>
                        </a>
                    </li>
                    <li class="link text-skin-base-light">
                        <a routerLink="" class="link-btn flex justify-center items-center space-x-2">
                            <i class=""></i>
                            <p class="link-label">Light Theme</p>
                        </a>
                    </li>
                    <li class="link text-skin-base-light">
                        <a routerLink="" class="link-btn flex justify-center items-center space-x-2">
                            <i class=""></i>
                            <p class="link-label">Log Out</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="central-content flex-1 py-3">
        <header class="header h-40 px-3 rounded-lg bg-white flex justify-between items-center space-x-3">
    
            <div class="welcome-content flex flex-col">
                <div class="welcome-message px-3 space-y-1 text-skin-base-light ">
                    <h2 class="title text-3xl font-bold">Ciao, Nome Cognome</h2>
                    <h4 class="subtitle text-sm">Oggi e' Sabato, 25 Gennaio 2025</h4>
                </div>
            </div>
           
            <div class="mood-content w-min p-3 flex flex-col space-y-3">
                <div class="flex justify-center items-center">
                    <div class="mood-question text-skin-base-light ml-2 text-wrap flex-1">
                        Come ti senti oggi?
                    </div>
                    <div class="w-16 h-16 rounded-lg bg-gray-300"></div>
                </div>
                <div class="flex justify-center items-center space-x-3">
                    <div class="w-8 h-8 rounded-lg bg-gradient-to-br from-teal-400 to-teal-500"></div>
                    <div class="w-8 h-8 rounded-lg bg-gradient-to-br from-green-400 to-green-500"></div>
                    <div class="w-8 h-8 rounded-lg bg-gradient-to-br from-blue-400 to-blue-500"></div>
                    <div class="w-8 h-8 rounded-lg bg-gradient-to-br from-orange-400 to-orange-500"></div>
                    <div class="w-8 h-8 rounded-lg bg-gradient-to-br from-red-400 to-red-500"></div>
                </div>
            </div>
        </header>

        <main class="main-container">
        </main>
    </div>
    
    <aside class="calendar-container w-[23.5%] h-full p-3">
        <div class="calendar w-full h-full rounded-2xl bg-skin-fill-lighter">
            Calendar
        </div>
    </aside>
</div>
-->
<!--
<header class="header fixed top-0 left-0 right-0 z-20 m-3" id="header">
    <div class="header-container w-full h-40 bg-[rgb(250_251_255)] shadow-[0px_2px_24px_rgba(2_5_18/.1)] flex justify-between items-center [padding-inline:_1.5rem]">
        <a href="#" class="header-logo">
            <i class="fa-solid fa-cat"></i>
            <span>Cat</span>
        </a>

        <button class="header-toggle" id="header-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>
-->
<div class="dashboard-container">
    <aside class="wrapper">
       <app-sidebar-dashboard />
    </aside>
    <main class="main-container overflow-auto" [class.sidebar-menu-opened]="isSidebarMenuOpened()">
        <!-- <app-header-dashboard />
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div> -->
        <router-outlet></router-outlet>
    </main>
    <aside class="wrapper">
        <app-sidecalendar-dashboard />
    </aside>
</div>

